
*.vcxproj
*.filters
*.tlog
*.recipe
*.pdb
*.ilk
*.obj
*.exe
*.depend
*.log
*.stamp
*.check_cache
*.list
*.bin
*.cmake
*.rule
*.sln
*.json
build/CMakeCache.txt
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.0-rc3/VCTargetsPath.txt
build/CMakeFiles/3.25.0-rc3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.25.0-rc3/CompilerIdC/CMakeCCompilerId.c
